/* @import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i|Satisfy"); */
body {
  background-image: url("img/mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  /* color: white;
  font-family: "Montserrat", sans-serif; */
  text-align: center;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background-image: url("img/mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* color: white;
    font-family: "Montserrat", sans-serif; */
    text-align: center;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-image: url("img/tablet.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* color: white;
    font-family: "Montserrat", sans-serif; */
    text-align: center;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-image: url("img/desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* color: white;
    font-family: "Montserrat", sans-serif; */
    text-align: center;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-image: url("img/large-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* color: white;
    font-family: "Montserrat", sans-serif; */
    text-align: center;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */